<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter By:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by:{{listFilter}} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='events && events.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleImage()'>
                                {{showImages ? 'Hide Images' : 'Show Images'}}
                            </button>
                        </th>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Level</th>
                        <th>Distance</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let event of filteredEvents'>
                        <td><img *ngIf='showImages' [src]='event.imageUrl' [title]='event.title' [style.width.px]='imageWidth'/></td>
                        <td><a [routerLink]="['/events', event.id]">{{event.title}}</a></td>
                        <td>{{event.date}}</td>
                        <td>{{event.level | uppercase | convertToSpaces: 'A' }}</td>
                        <td>{{event.distance}} miles</td>
                        <td><vbcc-star [rating]='event.rating' (ratingClicked)='onRatingClicked($event)'></vbcc-star></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>