.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}
.sidebar-logo{
    padding:20px;
    width:100%; 
}
.content-container{
    margin-left:150px;
}
.navbar{
    
    padding-right: 100px;
}