<!--The content below is only a placeholder and can be replaced.-->
<div class="sidebar">
  <a [routerLink]="['/welcome']">
    <img class="sidebar-logo" alt="VBCC" src='./assets/logo.svg' />
  </a>
</div>
<div>
<div class="content-container">
  <nav class='navbar navbar-default'>
    <ul class='nav navbar-nav navbar-right'>
      <li><a [routerLink]="['/welcome']">Home</a></li>
      <li><a [routerLink]="['/items']">Shop</a></li>
      <button type="button" class="btn btn-default navbar-btn" (click)='signIn()'>Sign in</button>
    </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/>

</div>
  